[Desktop Entry]
Name=Gnothello
Name[es]=Gnothello
Name[de]=Gnothello
Name[ko]=Gnothello
Name[fr]=Gnothello
Name[no]=Gnothello
Name[pt]=Gnothello
Comment=Gnome Othello game
Comment[es]=Gnome Othello game
Comment[de]=Gnome Othello game
Comment[ko]=Gnome Othello game
Comment[fr]=Jeu Gnome Othello
Comment[no]=Gnome Othello game
Comment[pt]=Versão Gnome do jogo Othello
Exec=gnothello
Terminal=0
Type=Application
