[Desktop Entry]
Icon=gnothello.png
Name=Gnothello
Name[de]=Gnothello
Name[es]=Gnothello
Name[fr]=Gnothello
Name[ko]=Gnothello
Name[no]=Gnothello
Name[pt]=Gnothello
Comment=Gnome Othello game
Comment[de]=Gnome Othello Spiele
Comment[es]=Juego Gnome Othello
Comment[fr]=Jeu GNOME Othello
Comment[ko]=Gnome ¿Àµ¨·Î
Comment[no]=Gnome Othello game
Comment[pt]=Versão Gnome do jogo Othello
Exec=gnothello
Terminal=0
Type=Application
