[Desktop Entry]
Icon=iagno.png
Name=Iagno
Name[de]=Iagno
Name[es]=Iagno
Name[fi]=Iagno
Name[fr]=Iagno
Name[ko]=Iagno
Name[no]=Iagno
Name[pt]=Iagno
Name[ru]=Ягно
Comment=Gnome Reversi game
Comment[de]=Gnome-Reversi-Spiel
Comment[es]=Juego Gnome Reversi
Comment[fi]=Gnome-othellopeli
Comment[fr]=Jeu GNOME Reversi
Comment[ko]=Gnome ©ю╣╗╥н
Comment[no]=Gnome Reversi game
Comment[pt]=VersЦo Gnome do jogo Reversi
Comment[ru]=Игра Реверси для Gnome
Exec=iagno
Terminal=0
Type=Application
