[Desktop Entry]
Icon=iagno.png
Name=Iagno
Name[de]=Iagno
Name[es]=Iagno
Name[fr]=Iagno
Name[ko]=Iagno
Name[no]=Iagno
Name[pt]=Iagno
Comment=Gnome Reversi game
Comment[de]=Gnome Reversi Spiele
Comment[es]=Juego Gnome Reversi
Comment[fr]=Jeu GNOME Reversi
Comment[ko]=Gnome ¿Àµ¨·Î
Comment[no]=Gnome Reversi game
Comment[pt]=Versão Gnome do jogo Reversi
Exec=iagno
Terminal=0
Type=Application
