[Desktop Entry]
Icon=iagno.png
Name=Iagno
Name[da]=Iagno
Name[de]=Iagno
Name[es]=Iagno
Name[et]=Iagno
Name[fi]=Iagno
Name[fr]=Iagno
Name[gl]=Iagno
Name[ja]=Iagno
Name[ko]=Iagno
Name[no]=Iagno
Name[pt]=Iagno
Name[ru]=ñÇÎÏ
Name[sv]=Iagno
Comment=Gnome Reversi game
Comment[da]=Reversi spil til GNOME
Comment[de]=Gnome-Reversi-Spiel
Comment[es]=Juego Gnome Reversi
Comment[et]=Reversi variant GNOME-le
Comment[fi]=Gnome-othellopeli
Comment[fr]=Jeu GNOME Reversi
Comment[gl]=Xogo Reversi de Gnome
Comment[ja]=GNOMEÈÇ¥ª¥»¥í
Comment[ko]=Gnome ¿Àµ¨·Î
Comment[no]=Reversi spill for GNOME
Comment[pt]=Versão Gnome do jogo Reversi
Comment[ru]=éÇÒÁ òÅ×ÅÒÓÉ ÄÌÑ Gnome
Comment[sv]=Reversispel för Gnome
Exec=iagno
Terminal=0
Type=Application
