/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*/*.omf.out
/*/.xml2po.mo
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/C/iagno.xml
/C/legal.xml
/C/network-games.xml
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ca/ca.po
/ca/iagno.xml
/cs/cs.po
/cs/iagno.xml
/de/de.po
/de/iagno.xml
/el/el.po
/el/iagno.xml
/en_GB/en_GB.po
/en_GB/iagno.xml
/es/es.po
/es/iagno.xml
/eu/eu.po
/eu/iagno.xml
/fr/fr.po
/fr/iagno.xml
/iagno-C.omf
/iagno-ca.omf
/iagno-cs.omf
/iagno-de.omf
/iagno-el.omf
/iagno-en_GB.omf
/iagno-es.omf
/iagno-eu.omf
/iagno-fr.omf
/iagno-it.omf
/iagno-oc.omf
/iagno-pt_BR.omf
/iagno-sv.omf
/it/iagno.xml
/it/it.po
/oc/iagno.xml
/oc/oc.po
/pt_BR/iagno.xml
/pt_BR/pt_BR.po
/so_locations
/sv/iagno.xml
/sv/sv.po
/tags
